.Faults {
  height: 100%;
  box-shadow: 1px 3px 5px rgba(0, 0, 0, 0.3);
  border: 1px solid rgba(0, 0, 0, 0.171);
}

.body {
  text-align: center;
  overflow: hidden;
  overflow-y: scroll;
}
tr {
  border: 3px solid rgb(106, 158, 255);
}
.fultcard {
  display: flex;
  flex-direction: column;
  border-radius: 10px;
  box-shadow: 1px 3px 5px rgba(0, 0, 0, 0.3);
  border: 1px solid rgba(0, 0, 0, 0.171);
  margin: 3px;
}
.expend_fult {
  display: grid;
  grid-template-rows: repeat(2, 1fr);
  grid-template-columns: 1fr;
  width: 100%;
}

.contant {
  display: grid;
  text-align: right;
}
//table contant

.contantholder {
  box-shadow: 1px 3px 5px rgba(0, 0, 0, 0.3);
  border: 1px solid rgba(0, 0, 0, 0.171);
}
.fultcontant {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
  width: 100%;
  border-radius: 4px;
  align-content: center;
  align-items: center;
  justify-content: center;
  justify-items: center;
}
.topograghtopograghForTableContant {
  text-align: center;
  font-size: 14;
  margin-right: 5px;
  margin-left: 10px;
  justify-self: center;
  align-self: center;
  font: italic small-caps bold 24px/2 cursive;
}
.topogragh {
  text-align: right;
  font-size: 14;
  margin-right: 10px;
  margin-left: 10px;
  justify-self: center;
  align-self: center;
}

.topogragh_status {
  text-align: right;
  font-size: 14;
  margin-right: 10px;
  margin-left: 10px;
  direction: rtl;
}
.topogragh_info {
  text-align: right;
  font-size: 14;
  margin-right: 10px;
  margin-left: 10px;
  direction: rtl;
  max-width: 300px;
}

//parent fultstable holder : holds : table , tabletopics , button holder
.fultsTableHolder {
  display: grid;
  height: 100%;
  width: 100%;
}

.parenttable {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
  padding: 10px;
  overflow-y: scroll;
  background-color: #dbe5e3;
}
.parenttable::-webkit-scrollbar {
  width: 0 !important;
}
.table {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;

  overflow-y: scroll;
}
.table::-webkit-scrollbar {
  width: 0 !important;
}
//FULT SINGLE
.fultcard {
  display: flex;
  flex-direction: column;
  border-radius: 10px;
  box-shadow: 1px 3px 5px rgba(0, 0, 0, 0.3);
  border: 1px solid rgba(0, 0, 0, 0.171);
  margin-top: 3px;
  margin-bottom: 3px;
}
.fultitle {
  position: sticky;
  border-radius: 10px;
  margin-bottom: 8px;
  margin: 3px;
}
.button_holder {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  width: 100%;
  margin-bottom: 5px;
  margin-top: 5px;
}
.operation_hold_for_pluga {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
}
.operation_hold_for_copmany {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(5, 1fr);
}
.addfultbutton {
  margin-top: 5px;
  margin-bottom: 5px;
  grid-column: 3/4;
  height: 100%;
  width: 100%;
  color: whitesmoke;
  background-color: rgb(62, 145, 247);
  border-radius: 25px;
  border-color: transparent;
  cursor: pointer;
  transition: all 0.1s ease-in-out;
  font-size: 19px;
}
.addfultbutton:hover {
  box-shadow: 0 6px 14px 0 #666;
  color: rgb(62, 145, 245);
  background-color: white;
  transform: scale(1.03);
}
.formControl {
  grid-column: 2/3;
  border-color: #1562aa;
}

.avatar {
  border-radius: 50%;
  height: 43px;
  width: 43px;

  img {
    height: 100%;
    width: 100%;
  }
}

.spacer {
  width: 46px;
}
