.Contact {
  height: 100%;
  box-shadow: 1px 3px 5px rgba(0, 0, 0, 0.3);
  border: 1px solid rgba(0, 0, 0, 0.171);
  background-color: #dbe5e3;
}
.wrap {
  height: 100%;
  position: relative;
  .data {
    margin-top: 5vh;
    margin-right: 5vh;
  }
  .data label {
    display: block;
  }
  .data h3 {
    padding-top: 2vh;
  }
}
.imgC {
  margin-left: auto;
  margin-right: auto;
  display: block;
  bottom: 0;
  position: absolute;
  left: 0;
  width: 50vw;
  height: 60vh;
}
