.History {
  height: 100%;
  box-shadow: 1px 3px 5px rgba(0, 0, 0, 0.3);
  border: 1px solid rgba(0, 0, 0, 0.171);
}
.contantholder {
  box-shadow: 1px 3px 5px rgba(0, 0, 0, 0.3);
  border: 1px solid rgba(0, 0, 0, 0.171);
}
.card {
  display: flex;
  flex-direction: column;
  border-radius: 10px;
  box-shadow: 1px 3px 5px rgba(0, 0, 0, 0.3);
  border: 1px solid rgba(0, 0, 0, 0.171);
  margin: 3px;
}
.expend_fult {
  display: grid;
  grid-template-rows: repeat(2, 1fr);
  grid-template-columns: 1fr;
  width: 100%;
}

.contant {
  display: grid;
  text-align: right;
}
.topogragh {
  text-align: right;
  font-size: 14;
  margin-right: 10px;
  margin-left: 10px;
  justify-self: center;
  align-self: center;
}
.operation_holder {
  width: 100%;
  margin-top: 10px;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
}
.topogragh_status {
  text-align: right;
  font-size: 14;
  margin-right: 10px;
  margin-left: 10px;
  direction: rtl;
}

.fultcontant {
  text-align: right;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
  width: 100%;
  border-radius: 4px;
}

.fultsTableHolder {
  margin-left: 15px;
  display: grid;
  height: 100%;
  width: 100%;
  overflow-y: hidden;
}
.button {
  grid-column: 5/6;
  grid-row: 1/2;
  height: 100%;
  margin-right: 5px;
  border-radius: 3px;
  border-color: #1890ff;
}
.formControl {
  grid-column: 5/6;
  border-color: #1562aa;
}

.redstatus {
  background-color: rgb(201, 35, 35);
  color: rgb(201, 35, 35);
  border-radius: 50%;
  margin-right: 8px;
  height: 20px;
  width: 20px;
}
.greenstatus {
  color: rgb(32, 207, 61);
  background-color: rgb(32, 207, 61);
  border-radius: 50%;
  margin-right: 8px;
  height: 20px;
  width: 20px;
}

//fults table by parent to child order
.HistoryTableHolder {
  margin-left: 15px;
  display: grid;
  height: 100%;
  width: 100%;
  overflow-y: hidden;
}
.Historyparenttable {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
  padding: 10px;
  overflow-y: scroll;
  background-color: #dbe5e3;
}
.Historyparenttable::-webkit-scrollbar {
  width: 0 !important;
}
.Historytable {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
  overflow-y: scroll;
}
.Historytable::-webkit-scrollbar {
  width: 0 !important;
}
//search bar holder
.TopHistoryBar {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  margin-bottom: 5px;
}

//table head
.fultitle {
  border-radius: 10px;
  margin-bottom: 8px;
}
.spacer {
  width: 46px;
}
