html,
body {
  height: 100%;
  margin: 0;
  background-color: #caf0f8;
}

.back {
  height: 100vh;
  width: 100vw;
  .svg {
    height: 100%;
    width: 100%;
  }
  img {
    width: 100%;
    height: 100%;
  }
  .form {
    background-color: #fafafa;
    top: 50%;
    left: 50%;
    margin-top: -37.5vh;
    margin-left: -18.5vw;
    height: 70vh;
    width: 34vw;
    position: absolute;
    z-index: 100;
    opacity: 1;
    border-radius: 7px;
    display: flex;
    justify-content: center;
    .imgRapper {
      position: absolute;
      img {
        margin-top: -1vh;
        width: 37vw;
        height: 38vh;
        display: block;
      }
    }
    .inputs {
      direction: rtl;
      margin-top: 38vh;
      position: relative;
      label {
        display: rtl;
      }
      span {
        display: rtl;
        color: #df2b2b;
        position: absolute;
        animation: shake 0.45s cubic-bezier(0.15, 0.06, 0.19, 0.57) both;
      }
      .connect1 {
        display: flex;
        justify-content: center;
        margin-top: 5vh;
        margin-right: 1.5vw;
        font-size: 22.5px;
        color: whitesmoke;
        background-color: #519baa;
        width: 170px;
        border-radius: 7px;
        opacity: 0.5;
        transition: 0.3s;
        z-index: 100000;
        border-width: 0px;
        cursor: pointer;
      }
      .connect1:hover {
        opacity: 1;
      }
    }
  }
}

.team {
  z-index: 1000;
  position: absolute;
  margin-right: 45.5vw;

  img {
    position: absolute;
    bottom: 0;
    width: 12.5vw;
    height: 14vh;
  }
}

@keyframes shake {
  10%,
  90% {
    transform: translate3d(-1px, 0, 0);
  }

  20%,
  80% {
    transform: translate3d(2px, 0, 0);
  }

  30%,
  50%,
  70% {
    transform: translate3d(-4px, 0, 0);
  }

  40%,
  60% {
    transform: translate3d(4px, 0, 0);
  }
}

.slide-in-elliptic-bottom-fwd {
  -webkit-animation: slide-in-elliptic-bottom-fwd 0.8s
    cubic-bezier(0.25, 0.46, 0.45, 0.94);
  animation: slide-in-elliptic-bottom-fwd 0.8s
    cubic-bezier(0.25, 0.46, 0.45, 0.94);
}
@-webkit-keyframes slide-in-elliptic-bottom-fwd {
  0% {
    -webkit-transform: translateY(600px) rotateX(30deg) scale(0);
    transform: translateY(600px) rotateX(30deg) scale(0);
    -webkit-transform-origin: 50% 100%;
    transform-origin: 50% 100%;
    opacity: 0;
  }
  100% {
    -webkit-transform: translateY(0) rotateX(0) scale(1);
    transform: translateY(0) rotateX(0) scale(1);
    -webkit-transform-origin: 50% -1400px;
    transform-origin: 50% -1400px;
    opacity: 1;
  }
}
@keyframes slide-in-elliptic-bottom-fwd {
  0% {
    -webkit-transform: translateY(600px) rotateX(30deg) scale(0);
    transform: translateY(600px) rotateX(30deg) scale(0);
    -webkit-transform-origin: 50% 100%;
    transform-origin: 50% 100%;
    opacity: 0;
  }
  100% {
    -webkit-transform: translateY(0) rotateX(0) scale(1);
    transform: translateY(0) rotateX(0) scale(1);
    -webkit-transform-origin: 50% -1400px;
    transform-origin: 50% -1400px;
    opacity: 1;
  }
}

//LOGO
.slide-in-blurred-bottom {
  -webkit-animation: slide-in-blurred-bottom 1s cubic-bezier(0.23, 1, 0.32, 1)
    both;
  animation: slide-in-blurred-bottom 1s cubic-bezier(0.23, 1, 0.32, 1) both;
}

@-webkit-keyframes slide-in-blurred-bottom {
  0% {
    -webkit-transform: translateY(1000px) scaleY(2.5) scaleX(0.2);
    transform: translateY(1000px) scaleY(2.5) scaleX(0.2);
    -webkit-transform-origin: 50% 100%;
    transform-origin: 50% 100%;
    -webkit-filter: blur(40px);
    filter: blur(40px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateY(0) scaleY(1) scaleX(1);
    transform: translateY(0) scaleY(1) scaleX(1);
    -webkit-transform-origin: 50% 50%;
    transform-origin: 50% 50%;
    -webkit-filter: blur(0);
    filter: blur(0);
    opacity: 1;
  }
}
@keyframes slide-in-blurred-bottom {
  0% {
    -webkit-transform: translateY(1000px) scaleY(2.5) scaleX(0.2);
    transform: translateY(1000px) scaleY(2.5) scaleX(0.2);
    -webkit-transform-origin: 50% 100%;
    transform-origin: 50% 100%;
    -webkit-filter: blur(40px);
    filter: blur(40px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateY(0) scaleY(1) scaleX(1);
    transform: translateY(0) scaleY(1) scaleX(1);
    -webkit-transform-origin: 50% 50%;
    transform-origin: 50% 50%;
    -webkit-filter: blur(0);
    filter: blur(0);
    opacity: 1;
  }
}
